:root {
  --black: black;
  --white: white;
  --dim-grey: #606060;
  --light-green: #0a2023;
  --transparent: transparent;
  --span-text: 'Playfair Display', sans-serif;
  --soft-peach: #e9eef9;
  --orange: #ff6d2f;
  --blog-text: #fbf9f9;
  --color-light-grey: #dadada;
  --blog: #213343;
  --blogcolour: #f8f0ed;
  --form-in: #193e43;
  --form: black;
}

* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
}

body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  background-color: #fff !important;
  min-height: 100%;
  margin: 0;
}

@media screen and (min-width: 1440px) {
  .body-2 {
    aspect-ratio: auto;
  }
}

#root {
  width: 100%;
  min-height: 100vh;
}

