/* Project Section Styles */
.home-one-project-box {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px solid var(--light-green);
  background-color: var(--light-green);
  -webkit-text-stroke-color: #0a2023;
  -webkit-text-fill-color: inherit;
  background-clip: content-box;
  border-radius: 18px;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.home-one-project-box.neew {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-radius: 20px;
  padding: 10px 40px 20px;
  display: flex;
}

@media screen and (min-width: 1440px) {
  .home-one-project-box {
    margin-top: 60px;
    margin-bottom: 60px;
    overflow: visible;
  }
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.w-container:before,
.w-container:after {
  content: ' ';
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-container:after {
  clear: both;
}

.home-one-project-left-section {
  padding-top: 123px;
  padding-bottom: 105px;
}

.home-one-project-left-section.align-center {
  background-color: var(--transparent);
  color: var(--black);
  -webkit-text-stroke-color: var(--white);
  border-radius: 0;
  margin-left: 60px;
  margin-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 1280px) {
  .home-one-project-left-section.align-center {
    max-width: 850px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .home-one-project-left-section.align-center {
    max-width: 1000px;
    margin-left: 40px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.home-one-project-heading {
  color: #fff;
  max-width: 519px;
}

.home-one-project-heading.text-center {
  color: var(--white);
  width: 810px;
  max-width: 900px;
  font-size: 2rem;
  line-height: 2rem;
}

@media screen and (min-width: 1280px) {
  .home-one-project-heading.text-center {
    width: 820px;
    max-width: 820px;
  }
}

.home-project-paragraph {
  color: #fff;
  max-width: 502px;
  margin-bottom: 20px;
}

.home-project-paragraph.text-center {
  color: var(--white);
  max-width: 900px;
}

.button-font.button-width {
  color: var(--black);
  width: 180px;
}

.home-one-project-right-section {
  width: 50%;
  position: relative;
}

.startech-home-one-project-image {
  position: absolute;
  top: -158px;
  right: -84px;
}

.auto-fit.startech-home-one-project-image {
  border-radius: 20px;
  max-width: 100%;
  margin-left: 0;
  padding: 60px 0;
  position: static;
  inset: 0% auto auto 0%;
  object-fit: cover;
}

@media screen and (min-width: 1280px) {
  .auto-fit.startech-home-one-project-image {
    margin-left: 0;
    padding-left: 0;
  }
}

/* Responsive Styles */
@media (max-width: 900px) {
  .home-one-project-left-section.align-center {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-one-project-heading.text-center {
    text-align: center;
  }

  .home-project-paragraph.text-center {
    text-align: center;
  }

  .button-font.button-width {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1100px) {
  .home-one-project-box.neew {
    flex-direction: column;
    gap: 40px;
  }

  .home-one-project-left-section.align-center {
    margin-left: 20px;
    margin-right: 20px;
  }

  .home-one-project-right-section {
    width: 100%;
  }

  .startech-home-one-project-image {
    position: relative;
    top: 0;
    right: 0;
  }
}

@media (max-width: 767px) {
  .home-one-project-box.neew {
    padding: 20px 15px;
  }

  .home-one-project-left-section.align-center {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .home-one-project-heading.text-center {
    width: auto;
    max-width: 100%;
    font-size: 1.75rem;
    line-height: 2rem;
  }

  .home-project-paragraph.text-center {
    max-width: 100%;
  }
}
