/* Real-Time Crawling Services Page Styles */
html.w-mod-touch * {
  background-attachment: scroll !important;
}

/* Hero Section */
.home-one-hero-section {
  background-color: #0a2023;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

@media screen and (min-width: 1440px) {
  .home-one-hero-section {
    padding-bottom: 10px;
  }
}

.home-one-container.home-one-hero-container {
  vertical-align: baseline;
  margin-bottom: 100px;
}

.home-one-hero-left-section.home-one-hero-left-section-padding.home-one-hero-left-padding {
  margin-top: 100px;
}

.home-one-hero-left-section {
  max-width: 67.2%;
}

.home-one-hero-left-section.home-one-hero-left-section-padding.home-one-hero-left-padding.align-center {
  align-self: flex-start;
  width: auto;
  max-width: 700px;
  margin-bottom: 0;
}

.home-one-hero-text-one {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
  padding-left: 0;
  display: flex;
}

@media screen and (min-width: 1280px) {
  .home-one-hero-text-one {
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
    display: inline-flex;
  }
}

@media screen and (min-width: 1440px) {
  .home-one-hero-text-one {
    justify-content: flex-start;
    align-items: center;
  }
}

.home-one-hero-header {
  color: #fff;
  max-width: 765px;
}

.home-one-hero-header.text-center {
  width: 900px;
  max-width: 900px;
  font-size: 3rem;
  font-weight: 500;
  line-height: 4rem;
}

.color-light-grey {
  color: var(--color-light-grey);
}

.color-light-grey.text-center {
  color: var(--white);
  width: 720px;
  max-width: 750px;
}

@media screen and (min-width: 1280px) {
  .color-light-grey.text-center {
    color: var(--white);
    width: auto;
    max-width: none;
  }
}

.home-one-hero-button-section {
  grid-column-gap: 26px;
  grid-row-gap: 26px;
  align-items: center;
  display: flex;
}

.home-one-hero-button-section.startech-home-one-hero-button-padding {
  max-width: 200px;
  margin-top: 34px;
}

.button-font {
  color: var(--white);
  background-color: #ff6d2f;
  border-radius: 60px;
  flex: 0 auto;
  justify-content: center;
  align-items: flex-start;
  padding: 15px 35px;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
  text-decoration: none;
  transition: color 0.4s, background-color 0.4s;
  display: flex;
}

/* Development Grid Sections */
.home-one-development-two-grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: var(--soft-peach);
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 0.25fr;
  grid-auto-columns: auto;
  place-content: start space-between;
  place-items: start stretch;
  height: 480px;
  margin-top: 0;
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 7px;
  display: grid;
}

@media screen and (min-width: 1280px) {
  .home-one-development-two-grid {
    margin-top: 0;
  }
}

@media screen and (min-width: 1440px) {
  .home-one-development-two-grid {
    max-width: none;
  }
}

#w-node-_7ed0dd65-3378-a583-69dc-828e26ddeb32-0969ff3c,
#w-node-_7ed0dd65-3378-a583-69dc-828e26ddeb39-0969ff3c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_99f14e62-eb1d-d792-4e75-bc8e77b201ce-0969ff3c {
  grid-area: 1 / 1 / 2 / 2;
  align-self: center;
}

.home-one-development-two-wrapper {
  width: 100%;
}

#w-node-_99f14e62-eb1d-d792-4e75-bc8e77b201df-0969ff3c,
#w-node-_99f14e62-eb1d-d792-4e75-bc8e77b201e6-0969ff3c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_99f14e62-eb1d-d792-4e75-bc8e77b201ed-0969ff3c {
  grid-area: 1 / 2 / 2 / 3;
  align-self: center;
}

.home-two-heading-wrapper {
  width: 100%;
  max-width: 1680px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-left: 30px;
  padding-right: 30px;
}

.home-one-hero-line {
  background-color: #fff;
  width: 31px;
  height: 2px;
}

.home-one-hero-line.home-one-management-line {
  text-align: left;
  background-color: #0f0f0f;
}

.home-one-develop-two-image-wrapper {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 500px;
  max-height: 880px;
  display: flex;
  position: relative;
  inset: 0 auto auto 0;
  overflow: hidden;
}

@media screen and (min-width: 1280px) {
  .home-one-develop-two-image-wrapper {
    margin-top: 0;
    padding-top: 0;
  }
}

.home-one-development-one-image {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  justify-content: center;
  align-self: auto;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  inset: 0% 0 0 0%;
  overflow: hidden;
}

@media screen and (min-width: 1280px) {
  .home-one-development-one-image {
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
}

@media screen and (min-width: 1440px) {
  .home-one-development-one-image {
    align-self: auto;
  }
}

.image-28 {
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
}

.home-one-deve-two-slider {
  margin-top: 0;
}

@media screen and (min-width: 1280px) {
  .home-one-deve-two-slider {
    margin-top: -123px;
  }
}

.home-one-midle-container {
  z-index: 2;
  box-sizing: content-box;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: auto;
  min-height: auto;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 100vh;
  font-weight: 400;
  display: flex;
  position: relative;
}

@media screen and (min-width: 1280px) {
  .home-one-midle-container {
    padding-bottom: 10px;
    padding-left: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .home-one-midle-container {
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 100px;
  }
}

.home-one-perfomence-text-section {
  width: auto;
  min-width: auto;
  max-width: none;
  height: auto;
  min-height: auto;
  max-height: none;
}

@media screen and (min-width: 1280px) {
  .home-one-perfomence-text-section {
    width: auto;
    min-width: auto;
    max-width: none;
    height: auto;
    min-height: auto;
    max-height: none;
    font-size: 100px;
  }
}

.home-one-hero-text-bold-two.home-one-management-text-one {
  color: #0f0f0f;
  width: 400px;
  max-width: 500px;
  display: block;
}

.home-one-performence-heading-text {
  max-width: 631px;
}

.home-one-performence-heading-text.startech-home-one-development-heading {
  box-sizing: border-box;
  text-align: left;
  width: 200vh;
  min-width: auto;
  max-width: 584px;
  min-height: auto;
  margin-top: 0;
  margin-bottom: 40px;
  padding-top: 0;
  padding-left: 0;
  font-weight: 500;
}

@media screen and (min-width: 1280px) {
  .home-one-performence-heading-text.startech-home-one-development-heading {
    margin-bottom: 0;
    padding-top: 0;
  }
}

.home-one-performance-paragraph {
  max-width: 599px;
}

.home-one-performance-paragraph.home-one-perfomence-paragraph-padding {
  color: #0f0f0f;
  width: 200vh;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.home-one-development-border-two {
  background-color: #dadada;
  width: 599px;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.grid-nine {
  grid-row-gap: 0px;
  flex: 0 auto;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  align-self: flex-start;
  place-items: start stretch;
  margin-bottom: 0;
  padding-top: 0;
}

@media screen and (min-width: 1440px) {
  .grid-nine {
    flex: 1;
    place-items: start center;
  }
}

.home-one-develop-text-grid {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: flex-start;
  width: auto;
  display: flex;
}

.home-one-develop-grid-paragraph-text {
  color: var(--dim-grey);
  max-width: 500px;
  margin-top: 0;
}

.startech-home-one-develop-paragraph-span {
  color: var(--dim-grey);
  font-weight: 500;
}

.home-one-develop-grid-box {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  display: flex;
}

.home-one-develop-grid-arrow {
  width: 28px;
  height: 29px;
  flex-shrink: 0;
}

/* Bold Text Styles */
.bold-text-9,
.bold-text-11,
.bold-text-12,
.bold-text-14 {
  font-weight: 600;
}

/* Benefits Section */
.career-data-section {
  border: 1px none var(--white);
  border-radius: 0;
  padding: 60px 20px 80px;
}

@media screen and (min-width: 1440px) {
  .career-data-section {
    background-color: var(--blog-text);
    padding-bottom: 70px;
    overflow: visible;
  }
}

.services-two-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.services-two-container.career-data-container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.services-two-container.career-data-container.finalchange {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

@media screen and (min-width: 1280px) {
  .services-two-container.career-data-container {
    width: auto;
    min-width: auto;
    max-width: none;
    height: auto;
    min-height: auto;
    max-height: none;
  }
}

@media screen and (min-width: 1440px) {
  .services-two-container.career-data-container {
    width: auto;
  }
}

.home-one-hero-text-one.career-hero-text-box-one {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
}

.home-one-hero-line.home-one-management-line.career-data-one-line {
  background-color: #606060;
}

.home-one-hero-text-bold-two.home-one-management-text-one.career-data-one-text {
  color: #000;
  justify-content: center;
  align-items: center;
  width: 200px;
  display: flex;
}

.career-data-heading {
  text-align: center;
  max-width: 763px;
}

@media screen and (min-width: 1440px) {
  .career-data-heading {
    margin-bottom: 40px;
  }
}

.career-data-paragraph {
  text-align: center;
  max-width: 626px;
  padding-bottom: 22px;
}

.career-grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: minmax(auto, 0.25fr);
  grid-template-columns: 1fr 1fr 1fr;
  width: auto;
  max-width: 1200px;
  height: auto;
}

@media screen and (min-width: 1280px) {
  .career-grid {
    width: auto;
    max-width: 1200px;
    height: auto;
  }
}

@media screen and (min-width: 1440px) {
  .career-grid {
    max-width: 1200px;
  }
}

#w-node-c1001dd3-a412-05f0-6b7c-ea31324138c3-0969ff3c,
#w-node-c1001dd3-a412-05f0-6b7c-ea31324138cd-0969ff3c,
#w-node-c1001dd3-a412-05f0-6b7c-ea31324138d7-0969ff3c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

.career-data-grid-box {
  background-color: var(--transparent);
  border: 0 solid #241d1d;
  border-radius: 10px;
  width: 380px;
  max-width: 380px;
  height: auto;
  max-height: none;
  padding: 30px 30px 20px;
  display: block;
  box-shadow: 0 2px 50px 20px #0000000f;
}

@media screen and (min-width: 1280px) {
  .career-data-grid-box {
    width: auto;
    max-width: none;
    height: auto;
    max-height: none;
  }
}

.career-data-grid-heading {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: center;
  display: flex;
}

.career-data-grid-heading .heading {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.75rem;
}

.text-block-5 {
  color: var(--dim-grey);
  border-radius: 10px;
  width: auto;
  max-width: none;
  height: auto;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 15px 0 0;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 1rem;
  line-height: 1.75rem;
}

@media screen and (min-width: 1280px) {
  .text-block-5 {
    width: auto;
    max-width: none;
    height: auto;
    padding-top: 20px;
  }
}

/* Lead Section */
.home-one-lead-section {
  background-color: #0a2023;
  padding: 120px 20px;
  overflow: hidden;
}

.home-one-container.home-one-lead-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.home-one-hero-line.home-one-management-line.home-one-lead-text-one-line,
.home-one-hero-line.home-one-management-line.home-tow-strategy-line {
  background-color: #fff;
}

.home-one-hero-text-box {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75rem;
}

.home-one-hero-text-box.home-one-management-text-one {
  color: #0f0f0f;
}

.home-one-hero-text-box.home-one-text-style {
  font-family: 'Be Vietnam Pro', sans-serif;
}

.home-one-hero-text-box.home-one-management-text-one.home-one-lead-text-one-style {
  color: #fff;
}

.home-one-hero-text-box.home-one-management-text-one.home-one-text-style {
  flex: 0 auto;
  order: 0;
  align-self: auto;
  font-family: 'Be Vietnam Pro', sans-serif;
}

.home-one-lead-heading-text {
  color: #fff;
  text-align: center;
  max-width: 749px;
}

@media screen and (min-width: 1280px) {
  .home-one-lead-heading-text {
    font-weight: 400;
  }
}

.image-two {
  position: absolute;
  inset: 14% 2% auto auto;
}

.home-one-lead-qube {
  position: absolute;
  inset: 17% auto auto 1%;
}

.home-one-lead-box-one {
  grid-column-gap: 67px;
  grid-row-gap: 67px;
  background-color: #1c4449;
  border-radius: 10px;
  align-items: center;
  height: 213px;
  margin-top: 58px;
  padding-left: 24px;
  padding-right: 64px;
  display: flex;
  overflow: hidden;
}

.home-one-lead-box-one.home-one-manege-first-box {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  padding-left: 53px;
  padding-right: 53px;
}

.home-one-lead-box-one.home-one-manege-first-box.padding-twenty {
  cursor: pointer;
  padding-bottom: 10px;
}

.home-one-lead-box-tow-image-tow {
  border-radius: 10px;
  margin-left: 7px;
}

.home-one-lead-static-image-one {
  border-radius: 10px 10px 0 0;
  margin-top: 23px;
}

.home-one-manage-second-box-left-container,
.home-one-manage-first-box-first-container {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  align-items: center;
  display: flex;
}

.home-one-manage-first-box-right-container {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  align-items: center;
  display: flex;
}

.home-one-second-box-rigght-container {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  align-items: center;
  display: flex;
}

.home-one-lead-box-bold-text {
  color: #fff;
  max-width: 203px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.75rem;
}

.home-one-lead-box-paragraph {
  color: #fff;
  max-width: 352px;
}

.home-one-lead-box-arrow {
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.lead-button {
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  display: flex;
}

.lead-button.lead-button-one {
  border: 1px solid #fff;
}

.lead-button.lead-button-two {
  border: 1px solid var(--white);
}

.home-one-lead-box-one.home-one-lead-box-tow {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  background-color: #453be9;
  margin-top: 31px;
}

.home-one-lead-box-one.home-one-lead-box-tow.padding-twenty {
  cursor: pointer;
  background-color: #1c4449;
}

.home-one-lead-box-one.home-one-lead-box-tow.padding-twenty.margin-forty {
  margin-bottom: 20px;
}

@media screen and (min-width: 1280px) {
  .home-one-lead-box-one.home-one-lead-box-tow.padding-twenty.margin-forty {
    margin-bottom: 20px;
  }
}

.width-hundred-persent {
  width: 100%;
}

.text-width {
  max-width: 100%;
}

/* .padding-twenty {
  padding: 20px;
} */

.margin-forty {
  margin-top: 40px;
}

/* Responsive Styles */
@media screen and (max-width: 991px) {
  .home-one-development-two-grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .career-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .home-one-hero-header {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

@media screen and (max-width: 767px) {
  .home-one-hero-section {
    padding: 100px 15px 60px;
  }

  .home-one-hero-header {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .career-grid {
    grid-template-columns: 1fr;
  }

  .home-one-performence-heading-text,
  .career-data-heading,
  .home-one-lead-heading-text {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@media screen and (max-width: 480px) {
  .home-one-hero-section {
    padding: 80px 10px 40px;
  }

  .home-one-hero-header {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }

  .home-one-performence-heading-text,
  .career-data-heading,
  .home-one-lead-heading-text {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
}
