/* Business Section Styles */
.about-one-business-section {
  background-color: #453be9;
  padding-top: 130px;
  padding-bottom: 131px;
}

.about-one-business-section.about-one-overflow {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 1440px) {
  .about-one-business-section.about-one-overflow {
    overflow: visible;
  }
}

.about-container-section {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.about-container-section.about-one-business-container {
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
}

@media screen and (min-width: 1440px) {
  .about-container-section.about-one-business-container {
    margin-top: -40px;
    margin-bottom: -40px;
  }
}

.auto-fit.about-one-business-image-one {
  position: absolute;
  inset: -24% 0% auto auto;
  object-fit: cover;
}

@media screen and (min-width: 1280px) {
  .auto-fit.about-one-business-image-one {
    top: 0%;
  }
}

.home-one-hero-text-one {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
  padding-left: 0;
  display: flex;
}

@media screen and (min-width: 1280px) {
  .home-one-hero-text-one {
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
    display: inline-flex;
  }
}

@media screen and (min-width: 1440px) {
  .home-one-hero-text-one {
    justify-content: flex-start;
    align-items: center;
  }
}

.home-one-hero-text-one.home-three-future-text-section-one,
.home-one-hero-text-one.home-three-future-text-section-one.about-us-one-hero-one-text-section {
  justify-content: flex-start;
  align-items: center;
}

.home-one-hero-line {
  background-color: #fff;
  width: 31px;
  height: 2px;
}

.home-one-hero-line.home-three-future-section-line.about-one-business-line {
  background-color: #fff;
}

.home-one-hero-text-bold-two {
  color: #fff;
  text-transform: uppercase;
  font-family: Be Vietnam Pro, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75rem;
}

.home-one-hero-text-bold-two.home-three-future-text-one {
  color: #0f0f0f;
}

.home-one-hero-text-bold-two.home-three-future-text-one.about-one-hero-one-text.about-one-business-text-one-text {
  color: #fff;
}

.about-one-business-head-text {
  color: #fff;
  text-align: center;
  max-width: 867px;
  padding-top: 18px;
}

.about-one-business-paragraph {
  color: #fff;
  text-align: center;
  max-width: 715px;
  padding-top: 19px;
  padding-bottom: 17px;
}

.auto-fit.about-one-business-image-two {
  position: absolute;
  inset: auto auto -6% 0%;
  object-fit: cover;
}

.auto-fit.about-one-business-polygon {
  position: absolute;
  inset: auto 13% 0% auto;
  object-fit: cover;
}

.button-font {
  color: var(--white);
  background-color: #ff6d2f;
  border-radius: 60px;
  flex: 0 auto;
  justify-content: center;
  align-items: flex-start;
  padding: 15px 35px;
  font-family: Be Vietnam Pro, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
  text-decoration: none;
  transition: color 0.4s, background-color 0.4s;
  display: flex;
}

.w-button {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}

